@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a1a1a;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #5e56e7;
}

a {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: #4d46c7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  color: var(--primary-color);
  font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  font-family: 'Montserrat', system-ui, Helvetica, Arial, sans-serif;
}
